<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Student Details
  </a>
</div>

<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="selectedStudent.FirstName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="selectedStudent.LastName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="selectedStudent.Email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="email">Major</label>
      <input type="text" class="form-control" id="major" [(ngModel)]="selectedStudent.Major" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="email">Score (%)</label>
      <input type="number" class="form-control" id="score" [(ngModel)]="selectedStudent.Score" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" (click)="createOrUpdate()">{{ selectedStudent.id ? 'Edit' : 'Create' }}</button>
    <button type="submit" class="btn btn-danger ml-2" (click)="removeStudent()" *ngIf="selectedStudent.id">Delete</button>
    <button type="submit" class="btn btn-secondary ml-2" (click)="clearStudent()">Clear</button>
  </form>
</div>
