<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<div class="row">
  <div class="col-8">
    <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
      Operation completed successfully
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Score</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students" (click)="showInfo(student.id)" style="cursor: pointer">
        <td>{{ student.id }}</td>
        <td>{{ student.FirstName }}</td>
        <td>{{ student.LastName }}</td>
        <td>{{ student.Email }}</td>
        <td>{{ student.Major }}</td>
        <td>{{ student.Grade }}</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active {{getBarColor(student.Score)}}" role="progressbar"
                 [attr.aria-valuenow]="student.Score" [style.width]="student.Score+'%'" aria-valuemin="0" aria-valuemax="100" >
              {{student.Score}}%
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <app-student-detail (success)="successAction()" (errorMessage)="errorMessage = $event" [selectedStudent]="selectedStudent"></app-student-detail>
  </div>
</div>
